
@{
    ViewBag.Title = "_Carousel";
}

<div class="col-md-12">
    <div id="main-slider">
        <div class="item">
            <img src="/Content/Images/Carousel/carousel_image_01.jpg" alt="" class="img-responsive">
        </div>
        <div class="item">
            <img class="img-responsive" src="/Content/Images/Carousel/carousel_image_02.jpg" alt="">
        </div>
        <div class="item">
            <img class="img-responsive" src="/Content/Images/Carousel/carousel_image_03.jpg" alt="">
        </div>
        <div class="item">
            <img class="img-responsive" src="/Content/Images/Carousel/carousel_image_02.jpg" alt="">
        </div>
    </div>
    <!-- /#main-slider -->
</div>

